* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #f5bb00;
  padding: 30px 20px;
  border-radius: 10px;
  width: 400px;
}

.img-container {
  width: 100%;
  height: 260px;
  overflow: hidden;
  border: none;
  border-color: transparent;
  margin-bottom: 14px;
}

.img-container img {
  max-width: 360px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: none;
  border-color: transparent;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.range-output {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.rotation-buttons {
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10px;
  border-radius: 10px;
}

.rotation-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotation-buttons i {
  padding: 10px;
  border-radius: 50%;
  background-color: #f5bb00;
  cursor: pointer;
}

.rotation-buttons :first-child i {
  padding: 10px 13px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

button {
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #000;
}

button:hover {
  background-color: #000;
  color: #f5bb00;
  cursor: pointer;
  transition: 1s;
}

#addImage {
  display: none;
}

.upload {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.upload:hover {
  background-color: #000;
  color: #f5bb00;
  cursor: pointer;
  transition: 1s;
}
